.loginDiv{
    background-image: url('../images/cooltext357019040762459.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
    height: 100px;
    width: 70%;   	
}